.track-selectable.selected {
    color:darkturquoise;
    border: 2px solid darkturquoise;
}

.track-selectable:hover {
    cursor:pointer;
    background-color: #f5f5f5;
}

.track-selectable.slots {
    width: 50%;
}

table.track-table {
    text-align: center;
    table-layout: fixed;
}

div.space-15 {
    margin-top: 15%;
}

div.track-head{
    text-align: center;
}

#input-meal-other {
    margin-top: 2%;
}
